<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %highlight(%-5level) [%thread] [%X{traceId} %X{spanId}] %logger{55}: %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Specific Loggers-->
    <!--
    <logger name="org.springframework.amqp.rabbit" level="DEBUG"/>
    -->

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
